  <div class="row">
    <div class="column">
      <div id="source" style="height: 80rem"></div>
    </div>

    <div class="column">
      <div id="target" style="height: 80rem"></div>
    </div>
  </div>
