
<div style="display: flex">
  <div style="flex: 85%">
    <div data-topic="<%= @topic %>" id="editor" style="height: 50rem"></div>
  </div>
  <div style="flex: 15%">

  <div class="editor-sidebar">
    <span>Theme:</span>
    <select id="themes-select"></select>

    <span>Mode:</span>
    <select id="modes-select"></select>

    <span> Users </span>
    <hr>
    <ul id="users-list"/>
  </div>

  </div>
</div>
